body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75) ,rgba(0,0,0,.75)), url(hat.jpg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: middle;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid rgb(175, 137, 66);
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
button:hover span{
    width: 100%;
    
}
button:hover{
    border: none;
}

span{
    background: rgb(175, 137, 66);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
.eyy{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
